{% extends 'listings/base.html' %}
{% block content %}
<h2>Browse Items</h2>
<form method="get" class="mb-4">
  <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
  <button type="submit">Search</button>
</form>

<div class="row">
  {% for item in items %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description|truncatewords:10 }}</p>
          {% if user.is_authenticated and item.user != user %}
          <a href="{% url 'propose_swap' item.id %}" class="btn btn-outline-primary mt-2">Propose Swap</a>
        {% endif %}

          <p><strong>Category:</strong> {{ item.category }}</p>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No items found.</p>
  {% endfor %}
</div>
{% endblock %}
