{% extends 'base.html' %}
{% block content %}
  <h2 class="text-center mb-4">{{ category_name|capfirst }} Items</h2>
  <div class="row">
    {% for item in items %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No items found in this category.</p>
    {% endfor %}
  </div>
{% endblock %}
